In [ ]:
import pandas as pd
d=pd.read_csv('/content/traffic-prediction-dataset (1).csv')
print(d)

       Cross 1   Cross 2   Cross 3   Cross 4   Cross 5   Cross 6  Junction  \
0        105.0      48.0        30      62.0        31     110.0         1
1         97.0      41.0        32      55.0        42     103.0         1
2         76.0      47.0        44      58.0        40     100.0         1
3         98.0      40.0        39      59.0        43     104.0         1
4         87.0      41.0        47      49.0        35     112.0         1
...        ...       ...       ...       ...       ...       ...       ...
16123     85.0      37.0        34      56.0        35      89.0         2
16124     71.0      45.0        44      50.0        44      53.0         2
16125     83.0      34.0        34      61.0        44      77.0         2
16126     89.0      39.0        25      48.0        32      64.0         2
16127     66.0      36.0        26      50.0        37      55.0         2

       Vehicles
0            15
1            13
2            10
3             7
4             9
...         ...
16123         6
16124         8
16125         9
16126         8
16127        10

[16128 rows x 8 columns]

In [ ]:
y=d['Junction'] #drop karre
x=d.drop('Junction',axis=1)
print(y)
print(x)

0        1
1        1
2        1
3        1
4        1
        ..
16123    2
16124    2
16125    2
16126    2
16127    2
Name: Junction, Length: 16128, dtype: int64
       Cross 1   Cross 2   Cross 3   Cross 4   Cross 5   Cross 6  Vehicles
0        105.0      48.0        30      62.0        31     110.0        15
1         97.0      41.0        32      55.0        42     103.0        13
2         76.0      47.0        44      58.0        40     100.0        10
3         98.0      40.0        39      59.0        43     104.0         7
4         87.0      41.0        47      49.0        35     112.0         9
...        ...       ...       ...       ...       ...       ...       ...
16123     85.0      37.0        34      56.0        35      89.0         6
16124     71.0      45.0        44      50.0        44      53.0         8
16125     83.0      34.0        34      61.0        44      77.0         9
16126     89.0      39.0        25      48.0        32      64.0         8
16127     66.0      36.0        26      50.0        37      55.0        10

[16128 rows x 7 columns]

In [ ]:
s=x.fillna(0)
print(s)

       Cross 1   Cross 2   Cross 3   Cross 4   Cross 5   Cross 6  Vehicles
0        105.0      48.0        30      62.0        31     110.0        15
1         97.0      41.0        32      55.0        42     103.0        13
2         76.0      47.0        44      58.0        40     100.0        10
3         98.0      40.0        39      59.0        43     104.0         7
4         87.0      41.0        47      49.0        35     112.0         9
...        ...       ...       ...       ...       ...       ...       ...
16123     85.0      37.0        34      56.0        35      89.0         6
16124     71.0      45.0        44      50.0        44      53.0         8
16125     83.0      34.0        34      61.0        44      77.0         9
16126     89.0      39.0        25      48.0        32      64.0         8
16127     66.0      36.0        26      50.0        37      55.0        10

[16128 rows x 7 columns]

In [ ]:
print(s.columns)
print(s.head)

Index(['Cross 1', ' Cross 2', ' Cross 3', ' Cross 4', ' Cross 5', ' Cross 6',
       'Vehicles'],
      dtype='object')
<bound method NDFrame.head of        Cross 1   Cross 2   Cross 3   Cross 4   Cross 5   Cross 6  Vehicles
0        105.0      48.0        30      62.0        31     110.0        15
1         97.0      41.0        32      55.0        42     103.0        13
2         76.0      47.0        44      58.0        40     100.0        10
3         98.0      40.0        39      59.0        43     104.0         7
4         87.0      41.0        47      49.0        35     112.0         9
...        ...       ...       ...       ...       ...       ...       ...
16123     85.0      37.0        34      56.0        35      89.0         6
16124     71.0      45.0        44      50.0        44      53.0         8
16125     83.0      34.0        34      61.0        44      77.0         9
16126     89.0      39.0        25      48.0        32      64.0         8
16127     66.0      36.0        26      50.0        37      55.0        10

[16128 rows x 7 columns]>

In [ ]:
a=s['Vehicles']
b = s[['Cross 1', ' Cross 2', ' Cross 3', ' Cross 4', ' Cross 5', ' Cross 6']]
print(a)
print(b)

0        15
1        13
2        10
3         7
4         9
         ..
16123     6
16124     8
16125     9
16126     8
16127    10
Name: Vehicles, Length: 16128, dtype: int64
       Cross 1   Cross 2   Cross 3   Cross 4   Cross 5   Cross 6
0        105.0      48.0        30      62.0        31     110.0
1         97.0      41.0        32      55.0        42     103.0
2         76.0      47.0        44      58.0        40     100.0
3         98.0      40.0        39      59.0        43     104.0
4         87.0      41.0        47      49.0        35     112.0
...        ...       ...       ...       ...       ...       ...
16123     85.0      37.0        34      56.0        35      89.0
16124     71.0      45.0        44      50.0        44      53.0
16125     83.0      34.0        34      61.0        44      77.0
16126     89.0      39.0        25      48.0        32      64.0
16127     66.0      36.0        26      50.0        37      55.0

[16128 rows x 6 columns]

In [ ]:
from sklearn.model_selection import train_test_split

b_train, b_test, a_train, a_test = train_test_split(b, a, test_size=0.2, random_state=42)

print("Shape of b_train:", b_train.shape)
print("Shape of a_train:", a_train.shape)

print("Shape of b_test:", b_test.shape)
print("Shape of a_test:", a_test.shape)

Shape of b_train: (12902, 6)
Shape of a_train: (12902,)
Shape of b_test: (3226, 6)
Shape of a_test: (3226,)

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_squared_error

scaler = MinMaxScaler()
b_train_normalized = scaler.fit_transform(b_train)
b_test_normalized = scaler.transform(b_test)


model = LinearRegression()
model.fit(b_train_normalized, a_train)
a_pred = model.predict(b_test_normalized)
print(a_pred)

[23.90831746 23.16595132 43.25330892 ... 42.50066595 38.64483974
 46.27578855]

In [ ]:
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(a_test, a_pred)
print(f'Mean Absolute Error: {mae}')

mse = mean_squared_error(a_test, a_pred)
print(f'Mean Squared Error: {mse}')

Mean Absolute Error: 18.711608372856464
Mean Squared Error: 563.891907725946

In [ ]:
import pandas as pd
d=pd.read_csv('/content/traffic-prediction-dataset (1).csv')
print(d)

       Cross 1   Cross 2   Cross 3   Cross 4   Cross 5   Cross 6  Junction  \
0        105.0      48.0        30      62.0        31     110.0         1
1         97.0      41.0        32      55.0        42     103.0         1
2         76.0      47.0        44      58.0        40     100.0         1
3         98.0      40.0        39      59.0        43     104.0         1
4         87.0      41.0        47      49.0        35     112.0         1
...        ...       ...       ...       ...       ...       ...       ...
16123     85.0      37.0        34      56.0        35      89.0         2
16124     71.0      45.0        44      50.0        44      53.0         2
16125     83.0      34.0        34      61.0        44      77.0         2
16126     89.0      39.0        25      48.0        32      64.0         2
16127     66.0      36.0        26      50.0        37      55.0         2

       Vehicles
0            15
1            13
2            10
3             7
4             9
...         ...
16123         6
16124         8
16125         9
16126         8
16127        10

[16128 rows x 8 columns]

In [ ]:
x=d.drop('Junction',axis=1)
s=x.fillna(0)
print(s)

       Cross 1   Cross 2   Cross 3   Cross 4   Cross 5   Cross 6  Vehicles
0        105.0      48.0        30      62.0        31     110.0        15
1         97.0      41.0        32      55.0        42     103.0        13
2         76.0      47.0        44      58.0        40     100.0        10
3         98.0      40.0        39      59.0        43     104.0         7
4         87.0      41.0        47      49.0        35     112.0         9
...        ...       ...       ...       ...       ...       ...       ...
16123     85.0      37.0        34      56.0        35      89.0         6
16124     71.0      45.0        44      50.0        44      53.0         8
16125     83.0      34.0        34      61.0        44      77.0         9
16126     89.0      39.0        25      48.0        32      64.0         8
16127     66.0      36.0        26      50.0        37      55.0        10

[16128 rows x 7 columns]

In [ ]:
a=s['Vehicles']
b = s[['Cross 1', ' Cross 2', ' Cross 3', ' Cross 4', ' Cross 5', ' Cross 6']]
print(a)
print(b)

0        15
1        13
2        10
3         7
4         9
         ..
16123     6
16124     8
16125     9
16126     8
16127    10
Name: Vehicles, Length: 16128, dtype: int64
       Cross 1   Cross 2   Cross 3   Cross 4   Cross 5   Cross 6
0        105.0      48.0        30      62.0        31     110.0
1         97.0      41.0        32      55.0        42     103.0
2         76.0      47.0        44      58.0        40     100.0
3         98.0      40.0        39      59.0        43     104.0
4         87.0      41.0        47      49.0        35     112.0
...        ...       ...       ...       ...       ...       ...
16123     85.0      37.0        34      56.0        35      89.0
16124     71.0      45.0        44      50.0        44      53.0
16125     83.0      34.0        34      61.0        44      77.0
16126     89.0      39.0        25      48.0        32      64.0
16127     66.0      36.0        26      50.0        37      55.0

[16128 rows x 6 columns]

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

b_train, b_test, a_train, a_test = train_test_split(b, a, test_size=0.20, random_state=42)

scaler = MinMaxScaler()
b_train_normalized = scaler.fit_transform(b_train)
b_test_normalized = scaler.transform(b_test)

In [ ]:
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error, mean_absolute_error

svr_model = SVR()
svr_model.fit(b_train_normalized, a_train)

a_pred_svr = svr_model.predict(b_test_normalized)

svr_mae = mean_absolute_error(a_test, a_pred_svr)
svr_mse = mean_squared_error(a_test, a_pred_svr)

print("SVR Mean Absolute Error:", svr_mae)
print("SVR Mean Squared Error:", svr_mse)

SVR Mean Absolute Error: 17.881495400282947
SVR Mean Squared Error: 541.8981947179572

In [ ]:
#print("Linear Regression MSE:",mse)
#print("Linear Regression MAE:",mae)
print("SVR MSE:", svr_mse)
print("SVR MAE:", svr_mae)

SVR MSE: 541.8981947179572
SVR MAE: 17.881495400282947

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error

d = pd.read_csv('/content/traffic-prediction-dataset (1).csv')

y = d['Junction']
x = d.drop('Junction', axis=1)
s = x.fillna(0)
a = s['Vehicles']
b = s[['Cross 1', ' Cross 2', ' Cross 3', ' Cross 4', ' Cross 5', ' Cross 6']]

print(b)
print(a)

       Cross 1   Cross 2   Cross 3   Cross 4   Cross 5   Cross 6
0        105.0      48.0        30      62.0        31     110.0
1         97.0      41.0        32      55.0        42     103.0
2         76.0      47.0        44      58.0        40     100.0
3         98.0      40.0        39      59.0        43     104.0
4         87.0      41.0        47      49.0        35     112.0
...        ...       ...       ...       ...       ...       ...
16123     85.0      37.0        34      56.0        35      89.0
16124     71.0      45.0        44      50.0        44      53.0
16125     83.0      34.0        34      61.0        44      77.0
16126     89.0      39.0        25      48.0        32      64.0
16127     66.0      36.0        26      50.0        37      55.0

[16128 rows x 6 columns]
0        15
1        13
2        10
3         7
4         9
         ..
16123     6
16124     8
16125     9
16126     8
16127    10
Name: Vehicles, Length: 16128, dtype: int64

In [ ]:
b_train, b_test, a_train, a_test = train_test_split(b, a, test_size=0.2, random_state=42)

In [ ]:
param_grid = {'n_neighbors': list(range(1, 21))}

knn = KNeighborsRegressor()

grid_search = GridSearchCV(estimator=knn, param_grid=param_grid, scoring='neg_mean_squared_error', cv=5)
grid_search.fit(b_train, a_train)

best_n_neighbors = grid_search.best_params_['n_neighbors']

best_knn = KNeighborsRegressor(n_neighbors=best_n_neighbors)
best_knn.fit(b_train, a_train)
best_knn_predictions = best_knn.predict(b_test)

best_knn_mse = mean_squared_error(a_test, best_knn_predictions)
best_knn_mae = mean_absolute_error(a_test, best_knn_predictions)

print("Best KNN MSE:", best_knn_mse)
print("Best KNN MAE:", best_knn_mae)

Best KNN MSE: 521.6841064786113
Best KNN MAE: 17.64074705517669

In [ ]:
from sklearn.linear_model import Lasso
from sklearn.metrics import mean_squared_error, mean_absolute_error
lasso = Lasso()
lasso.fit(b_train, a_train)
lasso_predictions = lasso.predict(b_test)

lasso_mse = mean_squared_error(a_test, lasso_predictions)
lasso_mae = mean_absolute_error(a_test, lasso_predictions)

print("Lasso MSE:", lasso_mse)
print("Lasso MAE:", lasso_mae)

Lasso MSE: 563.9192383290206
Lasso MAE: 18.71127199700547

In [ ]:
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error, mean_absolute_error
ridge = Ridge()
ridge.fit(b_train, a_train)
ridge_predictions = ridge.predict(b_test)

ridge_mse = mean_squared_error(a_test, ridge_predictions)
ridge_mae = mean_absolute_error(a_test, ridge_predictions)

print("Ridge MSE:", ridge_mse)
print("Ridge MAE:", ridge_mae)

Ridge MSE: 563.8919077936758
Ridge MAE: 18.71160837706224